{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<!--    <h1>Welcome to the About us Page</h1>
    <p>This is some content for the about page.</p>-->

  <div>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
  <div class="about-us-container">
    <div class="about-us-section-separator"></div>
    <div class="about-us-section-separator1"></div>
    <div class="about-us-container1">
      <div class="about-us-hero">
        <div class="about-us-hero-text-container">
          <h1 class="about-us-heading Section-Heading">
            A company that takes custom ship design and study projects
          </h1>
          <span class="about-us-text">
            At tirvis, we specialize in cutting-edge maritime solutions,
            offering custom Rhino plugins for advanced ship design, trim and
            stability checks for vessel safety, and expert services for
            EEXI/EEDI compliance.
          </span>
        </div>
        <img
          alt="rhino plugin"
          src="/static/images/rhino-plugin-1.png"
          class="about-us-image"
        />
      </div>
    </div>
    <div class="about-us-features">
      <div class="about-us-heading-container">
        <h2 class="about-us-text01">Our Projects</h2>
        <span class="about-us-text02 Section-Text">
          Lorme ipsum dolor sit amet, consectetur adipiscing elit. Integer nec
          odio. Praesent libero.
        </span>
      </div>
      <div class="about-us-cards-container">
        <div class="about-us-card">
          <div class="about-us-icon-container">
           <div class="about-us-icon01">
              <span class="material-icons">
                trending_down
              </span>
           </div>
          </div>
          <div class="about-us-content-container">
            <span class="about-us-heading1">Custom Rhino Plugins</span>
            <span class="about-us-text03">
              We have developed a Ship Design Program Rhino plugin to enable
              users reduce drawing 3D time
            </span>
          </div>
        </div>
        <div class="about-us-card1">
          <div class="about-us-icon-container1">
            <div class="about-us-icon02">
              <span class="material-icons">
                balance
              </span>
            </div>
          </div>
          <div class="about-us-content-container1">
            <span class="about-us-heading2">
              Trim &amp; Stability Checks for Vessels
            </span>
            <span class="about-us-text04">
              We conduct detailed trim and stability checks for different types
              of ships. Using advanced software, we analyze various conditions
              to ensure your vessel&apos;s safety. All our findings are compiled
              into files that are ready for industry-standard verification.
            </span>
          </div>
        </div>
        <div class="about-us-card2">
          <div class="about-us-icon-container2">
            <div class="about-us-icon03">
              <span class="material-icons">
                done
              </span>
            </div>
          </div>
          <div class="about-us-content-container2">
            <span class="about-us-heading3">EEXI/EEDI Compliance</span>
            <span class="about-us-text05">
              <span class="Card-Text">
                We help you meet EEXI and EEDI rules by conducting energy audits
                and creating retrofit plans. All results are organized into
                files ready for standard compliance checks.
              </span>
              <br />
              <br class="Card-Text" />
              <br />
              <br class="Card-Text" />
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="about-us-about">
      <div class="about-us-max-content-width-container">
        <div class="about-us-heading-container1">
          <h1 class="Section-Heading about-us-text11">
            Professional experience
          </h1>
        </div>
        <div class="about-us-content-container3">
          <div class="about-us-about-1">
            <div class="about-us-container2">
              <svg viewBox="0 0 1024 1024" class="about-us-icon06">
                <path
                  d="M170 512q0-140 101-241t241-101 241 101 101 241-101 241-241 101-241-101-101-241z"
                ></path>
              </svg>
              <span class="about-us-text12">
                Worked at major classification societies
              </span>
            </div>
            <div class="about-us-container3">
              <svg viewBox="0 0 1024 1024" class="about-us-icon08">
                <path
                  d="M170 512q0-140 101-241t241-101 241 101 101 241-101 241-241 101-241-101-101-241z"
                ></path>
              </svg>
              <span class="about-us-text13">
                Conducted engineering studies on ship design
              </span>
            </div>
          </div>
          <div class="about-us-about-11">
            <div class="about-us-container4">
              <svg viewBox="0 0 1024 1024" class="about-us-icon10">
                <path
                  d="M170 512q0-140 101-241t241-101 241 101 101 241-101 241-241 101-241-101-101-241z"
                ></path>
              </svg>
              <span class="about-us-text14">
                <span>Specialized in EEXI/EEDI compliance</span>
                <br class="Card-Text" />
                <span class="Card-Text"></span>
              </span>
            </div>
            <div class="about-us-container5">
              <svg viewBox="0 0 1024 1024" class="about-us-icon12">
                <path
                  d="M170 512q0-140 101-241t241-101 241 101 101 241-101 241-241 101-241-101-101-241z"
                ></path>
              </svg>
              <span class="about-us-text18">
                Performed trim and stability analyses for industry verification
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="about-us-section-separator2"></div>
    <div class="about-us-section-separator3"></div>
    <div class="about-us-section-separator4"></div>
    <div class="about-us-faqs">
      <h2 class="about-us-text19 Section-Heading">
        Check the most common questions
      </h2>
      <div class="about-us-content-container4">
        <div class="about-us-faq">
          <div class="about-us-question-container">
            <span class="about-us-question">
              What documents are needed for EEXI/EEDI compliance?
            </span>
          </div>
          <div class="about-us-answer-container">
            <span class="about-us-answer">
              Just the ship&apos;s general arrangement plan and some technical
              files of the propulsion system are required.
            </span>
          </div>
        </div>
        <div class="about-us-faq1">
          <div class="about-us-question-container1">
            <span class="about-us-question1">
              Do you charge from the time of the study of the project that might
              be done?
            </span>
          </div>
          <div class="about-us-answer-container1">
            <span class="about-us-answer1">
              We only start charging after the actual project begins, not during
              the preliminary phase.
            </span>
          </div>
        </div>
        <div class="about-us-faq2">
          <div class="about-us-question-container2">
            <span class="about-us-question2">
              What are the advantages of a Rhino plugin?
            </span>
          </div>
          <div class="about-us-answer-container2">
            <span class="about-us-answer2">
              A Rhino plugin can automate daily procedures used for
              manufacturing design or checks.
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="about-us-section-separator5"></div>
    <div class="about-us-subscribe">
      <img alt="image" src="/static/images/about-us-1.jpg" class="about-us-image1" />
      <div class="about-us-container6">
        <div class="about-us-heading-container2">
          <h1 class="about-us-text20">
            Inquiries to discuss your project ideas
          </h1>
          <span class="about-us-text21">
            Email us to discuss your project: [your email address]
          </span>
        </div>
      </div>
    </div>
<!--    <div class="about-us-section-separator6"></div>-->
<!--    <div class="about-us-footer-container"></div>-->
  </div>
</div>


{% endblock %}