{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}

    <section id="home-section-1">
        <div class="container-title">
            <img src="/static/images/tirvis-logo.png" alt="Tirvis Logo" class="logo">
            <div class="text-title">
                <p>cultivating waves of progress</p>
            </div>
        </div>
    </section>

    <section id="home-section-2">
        <h1 id="home-section-2-title">what we do</h1>
            <ol class="home-ol-cards">
                <li style="--home-accent-color: #C5DFF8">
                    <div class="home-icon"><i class="fa-solid fa-ship"></i></div>
                    <div class="home-title">Ship Study</div>
                    <div class="home-descr">Tailored ship modification studies for your needs</div>
                </li>
                <li style="--home-accent-color: #A0BFE0">
                    <div class="home-icon"><i class="fa-solid fa-file"></i></div>
                    <div class="home-title">EEXI / EEDI</div>
                    <div class="home-descr"> Expertly craft EEXI and EEDI files for your vessel</div>
                </li>
                <li style="--home-accent-color: #7895CB">
                    <div class="home-icon"><i class="fa-solid fa-code"></i></div>
                    <div class="home-title">Rhinoceros GUI</div>
                    <div class="home-descr">Customized GUI solutions for Rhino 3D software</div>
                </li>
                <li style="--home-accent-color: #4A55A2">
                    <div class="home-icon"><i class="fa-solid fa-bezier-curve"></i></div>
                    <div class="home-title">Trim and Stability</div>
                    <div class="home-descr"> Precise checks and informative booklets for trim and stability assurance</div>
                </li>
            </ol>
    </section>
{% endblock %}